footer {
  color: lighten($primary-color, 40%);
  height: max-content;
  border-top: 1px solid lighten($primary-color, 80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;

  p {
    font-size: 12px;
    font-weight: 400;
  }

  .socials {
    display: flex;
    gap: 12px;
    a i {
      font-size: 28px;
      color: $primary-color;
    }
  }
}

@include media-md {
  footer {
    display: grid;
    grid-template-areas: "text socials empty ";
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;

    p {
      text-align: left;
      grid-area: text; // Posiziona il testo nella terza colonna
    }

    .socials {
      grid-area: socials; // Posiziona i social nella seconda colonna
    }
  }
}
