$img-sizes: 150px;

.dark,
.landing-body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;

  background: linear-gradient(
    to bottom right,
    lighten($primary-color, 8%),
    lighten(#000, 5%)
  );

  .landing-main {
    display: flex;
    flex-direction: column;

    & .hero-container {
      padding-top: 24px;
      height: 70vh;
      color: $soft-white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      & h1,
      & div {
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
      }

      & h1,
      & span {
        font-size: 24px;
        font-weight: 300;
      }

      & span {
        font-weight: 700;
        color: $secondary-color;
      }

      & .profile {
        display: flex;
        flex-direction: column;
        align-items: center;

        & img {
          width: $img-sizes;
          height: auto;
          border-radius: 50%;
          border: 2px solid $secondary-color;
        }

        & p {
          font-weight: 600;
        }

        @include media-md {
          width: 60vw;
          margin: 0 auto;
        }
      }

      & a {
        width: 100%;

        & button {
          background-color: $soft-white;
          border-radius: 8px;
          color: $primary-color;
          font-size: 20px;
          font-weight: 600;
          padding: 16px 32px;
          border: none;
          &:hover {
            background-color: darken($soft-white, 5%);
            color: #000;
            cursor: pointer;
          }
        }
      }
    }

    & .light {
      background: $soft-white;
      padding: 8px;
      flex-grow: 1;
      color: lighten($primary-color, 20%);

      & h2 {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
      }

      & p {
        font-family: "Poppins", sans-serif;
      }
    }
  }

  & header {
    background: #000;

    & p {
      color: $soft-white;
    }

    & .hamburger-menu {
      &::before,
      &::after,
      & input {
        background-color: $soft-white;
      }
    }
  }

  & footer {
    background: #000;

    & .socials i {
      color: $soft-white;
    }
  }

  .navigation-list li a {
    color: $soft-white;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  & a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
    .btn {
      text-decoration: none;
      background-color: $primary-color;
      border-radius: 8px;
      color: $soft-white;
      font-size: 20px;
      font-weight: 400;
      padding: 16px 32px;
      border: none;
      &:hover {
        background-color: lighten($primary-color, 10%);
        color: $soft-white;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .landing-body .sidebar nav .navigation-list li a {
    color: $primary-color;
  }
}

@media screen and (min-width: 600px) {
  .light {
    background-color: $soft-white;
  }

  .light .content {
    width: 60%;
    margin: 0 auto;
    text-align: justify;
  }

  .light .content h2 {
    text-align: center;
  }

  .stack-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .light .content {
    width: 40%;
  }
}
