@import "_font", "_config", "_menu", "_footer", "_contact", "_landing",
  "_carousel", "_cv", "_thanks";

header {
  border-bottom: 0.5px solid lighten($primary-color, 60%);
  background: $soft-white;
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  & a {
    text-decoration: none;
    color: $primary-color;
  }
  .logo {
    font-weight: bold;
    text-transform: uppercase;
  }

  .menu-footer {
    a {
      display: inline-block;
    }

    @include media-md {
      display: none;
    }
  }

  .active {
    font-weight: bold;
  }
}
