.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center; /*allinea gli elementi al centro*/
    height: 400px;
    background-color: aqua;
    align-items: baseline;

}

.item{
    background-color: red;
    padding: 10px;
    margin: 5px;
}
